html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
}
/* title section */
#title {
  background-color: #fff;
}

.container-fluid {
  padding: 3% 15% ;
}

.navbar {

  padding:0 0 20px 0;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 900;
  line-height: 1.5;
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 20px ;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2rem;
  font-weight: lighter;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
  color: black;
}

.downloadbtn {
  margin: 30px 15px 0 5px ;
}

.firsthalf {
  padding-top: 50px;
}

.iphone6 {
 width: 17rem;
 margin: 3rem 2rem -12rem;
}

.topicon {
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: black;
  z-index: 10;
  font-size: 3rem;


}

@media (max-width : 1028px) {
  body {
    text-align: center;
  }

  #title {
    text-align: center;
    margin-bottom: 300px ;
  }

  .secondhalf {
    width: 550px;
    height: 330px ;
  }

  .iphone6 {
    left: 100px;
    margin: 0;
    padding-top: 40px;
  }

  .topicon {
    font-size: 2rem;
  }

}


/* features */

#features {
  text-align: center;
  padding: 60px 30px 60px;
  background-color: black;
}

.feauture-headings {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}

.feature-icon {
  font-size: 3rem;
  color: #CC99CC;
  padding:60px 0 10px;
}

.feature-icon:hover{
  color: #660066;
}

.feauture-paragraph {
  color: white;
}

/* Testimonials */

#testimonials {
  background-color: black;
  text-align: center;
}

.testimonial-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
  color: white;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonia-em {
  color: white;
}

.carousel-item {
  padding: 60px 200px 60px ;
}

#press {
  background-color: black;
  text-align: center;
}

.press-images {
  width: 12%;
  margin: 80px 50px 70px ;
}

/* pricing */

#pricing {
  text-align: center;
  padding-bottom: 60px;
}

.pricing-title {
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.5;
}

.card {
  margin: 20px 20px 20px;
}

.card-title {
  font-weight: 600;
  font-size: 1.5rem;
}

/* call to action */

#cta {
  text-align: center;
  background-color: black;
  padding: 5rem 7.5rem 5rem ;
  margin: auto;
}

.cta-heading {
  color: white;
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 1.5;
}

/* footer */

#footer {
  text-align: center;
  margin: auto;
}

.socialicon {
  padding: 20px 10px ;
  color: black;
}

.Copyright {
  color: grey;
  font-size: 0.8rem;
  margin-top: 30px;
}
